.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #fafafa;
  color: #444;
  overflow-x: hidden;
}
.navbar-expand-lg{
  position: relative;
  z-index: 12;
  background-color: #fafafa;
  padding: 40px;
  padding-left: 10%; 
  padding-right: 10%; 
  font-size: 20px;
}
.navbar-nav a{
  margin-left: 10px;
  margin-right: 10px;
}

.mt-40{
  margin-top: 40px;
}
.btn-action{
  font-size: 25px;
  margin: 15px;
  cursor: pointer;
  text-decoration: none !important; 
}

/*Home*/
.title-contain{
  position: relative;
  margin-left: 5%;
  margin-top: 7%;
  z-index: 11;
  mix-blend-mode: difference;
}
.title-contain h1{
  color: #aaa;
  font-size: 100px;
  line-height: 90px;
  font-weight: bold;
}

.image-contain{
  z-index: 10;
  padding: 40px;
  position: absolute;
  bottom: 20%;
  right: 7%;
  width: 1000px;
  height: 600px;
  background-color: #eee;
}

.image-contain img{
  filter: brightness(0.9);
  width: 100%;
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 700px) {
  .title-contain h1{
    font-size: 55px;
    line-height: 45px;
  }
  .image-contain{
    z-index: 10;
    padding: 20px;
    right: 10%;
    position: absolute;
    bottom: 20%;
    width: 400px;
    height: 270px;
  }
  .image-contain img{
    left: 20px;
  } 
}